---
---

<header class="bg-slate-500">
 <div class="h-12 flex justify-between items-center container">
  <h1>takayums</h1>
  <nav>
    <ul class="flex space-x-4">
      <li><a href="about">About</a></li>
      <li><a href="blog">Blog</a></li>
    </ul>
  </nav>
 </div>
</header>
