---

---

<header class="sticky z-40 shadow-sm top-0 bg-white">
  <div class="py-6 lg:w-max-7xl flex justify-between items-center mx-auto container">
    <h1 class="text-2xl font-semibold"><a href="/">takayums</a></h1>
    <nav>
      <ul class="flex space-x-4 text-base">
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
